@charset "utf-8";

/*variables*/
$img : url("../images/img-logo.png") no-repeat;
$main1 : #e26d5d;
$main2 : #5d9fca;

/*base*/
body{background:url("../images/bg.jpg") no-repeat #182d40;
	background-size:100% auto;}
a{color:inherit; text-decoration:none; display:inline-block;}	
.img{background:$img; text-indent:-9999px;}
.font{font-family:"Just Another Hand"; text-transform:uppercase;
	letter-spacing:-0.02em;}

 
/*header*/
header{
	position:fixed; width:100%; height:130px; background:#fff;
	bottom:0; left:0; box-shadow:0 -1px rgba(0,0,0,0.1);
	.title{position:absolute; top:35px; left:204px;
		width:173px; height:60px; background-position:0 -453px;}
	.emblem{position:absolute; top:-70px; left:15px;
		width:176px; height:196px;}
}//end:header

/*#gnb*/
#gnb{
	float:right; font-size:22px; line-height:40px;
	li{float:left; padding:22px 11px 0; border-left:1px solid #ddd;}
	a{color:#5e5e5e; transition:all .2s ease-in-out;
		border-bottom:2px solid #fff;}
	a:hover{color:$main1; border-color:$main1;}
	a::before{color:$main1;}
	.sub{
		position:absolute; bottom:110px; margin-left:-11px;
		opacity:0; visibility:hidden; transition:all .4s;
		li{float:none; border:0; background:#fff; margin-bottom:1px;
			padding:7px 14px 3px;}
		li:first-child{border-radius:3px 3px 0 0;}
		a{border:0;}
	}//end:.sub
	li:hover .sub{opacity:1; visibility:visible; bottom:130px;}
}//end:#gnb

/*.counter*/
.counter{
	ul{counter-reset:menu;} //menu라는 카운터를 생성함.
	li{counter-increment:menu;}	//li마다 menu카운터를 1씩 증가
	li a::before{content:"0"counter(menu)" ";}
}//end:.counter